/* HomePage.css */
.homecard-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .card-row {
    display: flex;
  }
  

.description-card {
    flex: 1;
    padding: 20px;
    background-color: #fffefe; /* Example background color for the description card */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    text-align: justify; /* Center text content */
  }
  
  
  .image-card {
    flex: 1;
    padding: 20px;
    background-color: #ffffff; /* Example background color for the image card */
  }
  
  .image-card img {
    max-width: 100%; /* Ensure the image fits within its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: "50%";
  }
  


/* commitment-card */

.commitment-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.card-row {
  display: flex;
}


.commitment-description-card {
  flex: 1;
  padding: 20px;
  background-color: #fffefe; /* Example background color for the description card */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: justify; /* Center text content */
}


.commitment-image-card {
  flex: 1;
  padding: 20px;
  background-color: #ffffff; /* Example background color for the image card */
}

.commitment-image-card img {
  max-width: 100%; 
  /* height: auto; Maintain aspect ratio */
}
/* Define animation keyframes for a wave-like motion */
@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at original position */
  }
  25% {
    transform: translateY(-20px); /* Bounce up */
  }
  50% {
    transform: translateY(0); /* Back to original position */
  }
  75% {
    transform: translateY(-10px); /* Slight bounce up */
  }
}
/* Apply animation to each letter */
.jumping-letter {
  display: inline-block;
}

/* Apply wave animation to the current letter */
.jump {
  animation: bounce 0.5s infinite; /* Apply the wave animation infinitely */
}
